<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Hello</title>
</head>
<body>
    <div>
        <h1>Welcome!</h1>

        <form th:action="@{/home}" method="get" sec:authorize="isAuthenticated()">
            <button type="submit" value="Home">Home</button>
        </form>
        <form th:action="@{/login}" method="get" sec:authorize="!isAuthenticated()">
            <button type="submit" value="Sign in">Sign in</button>
        </form>
        <form th:action="@{/register}" method="get" sec:authorize="!isAuthenticated()">
            <button type="submit" value="Register">Sign up</button>
        </form>
        <form th:action="@{/logout}" method="post"  sec:authorize="isAuthenticated()">
            <button type="submit" value="Logout">Logout</button>
        </form>
    </div>

</body>
</html>